body {
	background-color: #72131d;
}

h1 {
	color: white;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #72131d;
}

input[type="text"],
textarea {
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #72131d;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	color: #72131d;
}

input[type="number"] {
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #72131d;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	color: #72131d;
}

input[type="submit"] {
	background-color: #b5a272;
	color: #8f2313;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: #546673;
  color: white;
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #b5a272;
	border: 2px solid #72131d;
	border-radius: 5px;
}
