<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC TAMonitor</title>
    
</head>
<body>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% if user_type %}
            <p>You selected: {{ user_type }}</p>
        {% endif %}
    {% else %}
        <div class="login-container">
            <h2>Welcome to Boston College TA Portal</h2>
            <p>This portal is designed to help you manage<br> your teaching assistantship at Boston College.</p>
            <p>Please log in to access the portal.</p>
            <a class="btn" href="{% url 'login' %}">Log In</a>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>
