<!DOCTYPE html>
<html>
<head>
  <title>Instructor Create Course Form</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'summary/style.css' %}">
</head>
<body>

<!-- <h1>Summary</h1> -->

	<h1>Create a Course (Instructor)</h1>
	<form method="post">
		{% csrf_token %}
		<label for="course_id">Course ID:</label>
		<input type="text" id="course_id" name="course_id" required><br>

		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required><br>

		<label for="instructor">Instructor:</label>
		<input type="text" id="instructor" name="instructor" required><br>

		<label for="description">Description:</label>
		<textarea id="description" name="description" required></textarea><br>

		<label for="seats">Seats:</label>
		<input type="text" id="seats" name="seats" required><br>

		<label for="rooms">Rooms:</label>
		<input type="text" id="rooms" name="rooms" required><br>

		<label for="times">Times:</label>
		<input type="text" id="times" name="times" required><br>

		<label for="num_tas">Number of TAs Requested:</label>
		<input type="number" id="num_tas" name="num_tas" required><br>

		<label for="with_discussion">With Discussion:</label>
		<input type="number" id="with_discussion" name="with_discussion" required><br>

		<input type="submit" value="Submit">
	</form>



</body>
</html>
