<head>
    {% extends 'base.html' %}     
    <title>Home</title> 
</head>
<body>   
    {% block title %}Home{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    Your email is used as your username. The email you registered with is <b>{{ user.email }}</b>
        <p><a href="/logout">Log Out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{%url 'login' %}" class="btn btn-primary">Log In in Here</a>
        <br>
        <br>
        <a href="{%url 'register'%}"class="btn btn-primary">Register an account here</a>
    {% endif %}
    {% if user.is_instructor %}
        <p>You are registered as an instructor.</p>
        <a href="/createcourse" class="btn btn-primary">Create a course here</a>
        <br>
        <a href="/instructorsummary" class="btn btn-primary">View the Instructor Summary here</a>
        <br>
    {% endif %}
    {% if user.is_student %}
        <p>You are registered as a student.</p> 
    {% endif %}
    {% if user.is_admin or user.is_superuser %}
        <p> You are registered as an admin </p>
        <a href="/admin" class="btn btn-primary">View the admin panel here</a>
    {% endif %}
    {% if courses and user.is_student %}
        <div class="course-overview"> 
            <div class="table">
                <table class="table table-bordered table-hover table-striped table-condensed text-center">
                    <div class="caption center-block text-center"> 
                        Course Overview 
                    </div>
                    <thead>
                        <tr>
                            <th scope="col" style="width:16.66%"><h4>Course ID</h4></th>
                            <th scope="col" style="width:25%"><h4>Schedule</h4></th>
                            <th scope="col" style="width:15%"><h4>Office Hours</h4></th>
                            <th scope="col" style="width:15%"><h4>TAs</h4></th>
                            <th scope="col" style="width:15%"><h4>Click to Apply</h4></th>
                           
                        </tr>
                    </thead>
                    <div class="caption center-block text-center">
                        Number of courses: {{ courses|length }}
                    </div>
                    <tbody> 
                        <tbody> 
                            {% for course in courses %}
                            <tr scope="row">
                                <td>{{course.CourseID}}</td> 
                                <td>{{course.Times}}</td> 
                                <td>{{course.OfficeHours}}</td>
                                <td>{{course.TAs}}</td>  
                                <td class=><a href="/apply">Apply</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                          <p>Instructors - View the instructor summary to see TA Applications for your courses</p> 
                          <p>Admins - view the control panel to see the status of the application</p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    {% if user.is_authenticated and user.is_admin %} 
    {% endif %}


       
             
    
    {% endblock %}
</body>
</html>
